---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: qcacherevisioncreations.qscaler.qubex.ai
spec:
  group: qscaler.qubex.ai
  names:
    kind: QCacheRevisionCreation
    listKind: QCacheRevisionCreationList
    plural: qcacherevisioncreations
    singular: qcacherevisioncreation
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.images
      name: Images
      type: integer
    - jsonPath: .status.imagesSucceed
      name: Images_Succeed
      type: integer
    - jsonPath: .status.imagesFailed
      name: Images_Failed
      type: integer
    - jsonPath: .status.progress
      name: Progress
      type: string
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              workloadDescriptors:
                description: the list of workload descriptors for all shards in this
                  cache
                items:
                  properties:
                    architectures:
                      description: Architectures
                      items:
                        enum:
                        - AMD64
                        - ARM64
                        type: string
                      type: array
                    count:
                      description: Count of pods
                      type: integer
                    images:
                      description: container images associated with this pod
                      items:
                        type: string
                      type: array
                    lastSeen:
                      description: Last seen time
                      format: date-time
                      type: string
                    priorityType:
                      description: 'priority type: explicit, daemonset, standard'
                      enum:
                      - PriorityExplicit
                      - PriorityDaemonSet
                      - PriorityStandard
                      type: string
                    pullSecrets:
                      description: List of pull secrets
                      items:
                        properties:
                          name:
                            description: Secret name
                            type: string
                          namespace:
                            description: Secret namespace
                            type: string
                        required:
                        - name
                        - namespace
                        type: object
                      type: array
                  required:
                  - architectures
                  - count
                  - images
                  - lastSeen
                  - priorityType
                  type: object
                type: array
            type: object
          status:
            properties:
              finishReason:
                description: The reason of the QCacheRevisionCreation finish
                type: string
              imageSizeCalculations:
                description: Image size calculations results
                items:
                  properties:
                    architecture:
                      enum:
                      - AMD64
                      - ARM64
                      type: string
                    hash:
                      type: string
                    image:
                      type: string
                    layersHash:
                      additionalProperties:
                        format: int64
                        type: integer
                      type: object
                    size:
                      format: int64
                      type: integer
                    status:
                      enum:
                      - Pending
                      - Failed
                      - Success
                      type: string
                  required:
                  - architecture
                  - hash
                  - image
                  - layersHash
                  - size
                  - status
                  type: object
                type: array
              images:
                default: 0
                description: Number of all images
                format: int32
                type: integer
              imagesFailed:
                default: 0
                description: Number of failed images
                format: int32
                type: integer
              imagesSucceed:
                default: 0
                description: Number of succeed images
                format: int32
                type: integer
              phase:
                default: InProgress
                description: The phase of the QCacheRevisionCreation
                enum:
                - InProgress
                - Ready
                type: string
              progress:
                anyOf:
                - type: integer
                - type: string
                default: 0
                description: Progress
                x-kubernetes-int-or-string: true
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
