---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: qcachepullmappings.qscaler.qubex.ai
spec:
  group: qscaler.qubex.ai
  names:
    kind: QCachePullMapping
    listKind: QCachePullMappingList
    plural: qcachepullmappings
    singular: qcachepullmapping
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.originalHost
      name: OriginalHost
      type: string
    - jsonPath: .spec.proxyAddress
      name: ProxyAddress
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              additionalAliases:
                items:
                  type: string
                type: array
              originalHost:
                type: string
              proxyAddress:
                type: string
              pullSecret:
                type: string
              type:
                default: PublicDefault
                enum:
                - PublicDefault
                - Public
                - Private
                type: string
            required:
            - originalHost
            - proxyAddress
            - pullSecret
            - type
            type: object
        required:
        - metadata
        type: object
    served: true
    storage: true
    subresources: {}
