{{- if .Values.cache.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kompass-compute.cache.name" . }}
  labels:
    {{- include "kompass-compute.cache.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.cache.replicaCount }}
  selector:
    matchLabels:
      {{- include "kompass-compute.cache.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "kompass-compute.annotations.qubexConfigChecksum" . | nindent 8 }}
        {{- with .Values.cache.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "kompass-compute.cache.labels" . | nindent 8 }}
        {{- with .Values.cache.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kompass-compute.cache.serviceAccountName" . }}
      {{- with .Values.cache.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: cache
          {{- with .Values.cache.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "kompass-compute.cache.image" . | quote }}
          imagePullPolicy: {{ .Values.cache.image.pullPolicy }}
          args:
            - -zap-log-level={{ default .Values.logLevel .Values.cache.logLevel | lower }}
            - -log-remote={{ include "kompass-compute.defaultBool" (dict "value" .Values.cache.logRemote "default" .Values.logRemote) }}
            - -trace-remote={{ include "kompass-compute.defaultBool" (dict "value" .Values.cache.traceRemote "default" .Values.traceRemote) }}
            {{- with .Values.cache.extraArgs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
            - name: KOMPASS_INSIGHT_SECRET_NAME
              value: {{ include "kompass-compute.insightSecretName" . }}
            - name: NAMESPACE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: DEVELOPMENT_MODE
              value: {{ default .Values.developmentMode .Values.cache.developmentMode | quote }}
            - name: KOMPASS_COMPUTE_CHART_VERSION
              value: {{ .Chart.Version }}
            {{- with .Values.cache.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          envFrom:
            - secretRef:
                name: {{ include "kompass-compute.insightSecretName" . }}
          {{- with .Values.cache.ports }}
          ports:
            {{- range $name, $port := . }}
            - name: {{ $port.name }}
              containerPort: {{ $port.port }}
              protocol: {{ $port.protocol | default "TCP" }}
            {{- end }}
          {{- end }}
          {{- with .Values.cache.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.cache.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.cache.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.cache.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.cache.extraVolumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.cache.extraVolumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.cache.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "kompass-compute.cache.affinity" . | nindent 6 }}
      {{- with .Values.cache.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
